@model FreeDev.Models.Entities.UsuarioDevModel;

@{
    ViewData["title"] = "Perfil";
}

<div style="margin-bottom:40px" class="text-center">
    <h1>@ViewData["title"]</h1>
</div>
<hr />

<div class="card" style="width: 18rem;">
    <div class="row align-items-center" style="margin-top:10px;">
        <div class="col" style="margin-left:0">
            <div class="container" style="width:78px;height:78px;margin-top:10px;margin-left:0">
                <img style="width:78px;height:78px;" src="~/lib/Imagens/perfilvazio.png" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col" style="margin-right:4px">
            <h5  class="card-title">@Model.Nome</h5>
        </div>
    </div>
    <div class="card-body">
        <h6>Descrição</h6>
        <p class="card-text">@Model.Descricao</p>
        <dl class="list-group list-group-flush">
            <dt>Email</dt>
            <dd class="list-group-item">@Model.Email</dd>
            <dt>Telefone</dt>
            <dd class="list-group-item">@Model.Telefone</dd>
        </dl>
    </div>
    <div class="card-body">
        <a role="button" class="btn btn-outline-primary">editar perfil</a>
        <a role="button" class="btn btn-outline-primary">alterar senha</a>
    </div>
</div>